body {
	background-color: #9997a6;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headerElem {
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#menuElem {
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	width: 200px;
	height: auto;
}

.input {
	margin: 5px;
	padding: 10px;
	border: none;
}

.button {
	margin: 20px;
	padding: 10px;
	border: none;
	background-color: #d9ac9c;
	font-weight: 700;
}

.checkbox {
	width: 30px;
	height: 30px;
}

.loginDivElem {
	background-color: lightgray;
	border: solid 1px #333;
	display: flex;
	flex-direction: column;
}

.registerDivElem {
	background-color: lightgray;
	border: solid 1px #333;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

#footer {
	background-color: #504f59;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
}

p {
	text-align: center;
	margin: 60px;
}
